extends layout

block content
    .w3-row
        .w3-col.m3
            p 
        .w3-col.m6.w3-center
            .w3-card
                br
                table.w3-table-all.w3-hoverable.w3-hover-shadow
                    tr
                        th Título
                        if title
                            td.w3-large= title
                        else
                            td.w3-large Sem título registado
                    tr
                    tr
                        th Jornal
                        if journal
                            td.w3-large= journal
                        else
                            td.w3-large Sem referência registada para um "journal"
                    tr
                    tr
                        th Volume
                        if volume
                            td.w3-large= volume
                        else
                            td.w3-large Sem volume registado
                    tr
                    tr
                        th ISSN
                        td
                            if issn
                                a(href="/issn/" + issn.split(' ')[0])= issn.split(' ')[0]
                            else
                                .w3-large Sem referência registada de um ISSN
                    tr
                    tr
                        th Data
                        if date
                            td.w3-large= date
                        else
                            td.w3-large Sem data registada
                    tr
                    tr
                        th Doi
                        if doi
                            td.w3-large
                                a(href="https://link.springer.com/chapter/"+doi)= doi
                        else
                            td.w3-large Sem referência registada de um DOI
                    tr
                        th Número de Citações
                        if cites
                            td.w3-large= cites
                        else
                            td.w3-large Sem número de citações registado
                    tr
                    tr
                        th Tipo
                        if type
                            td.w3-large= type
                        else
                            td.w3-large Sem tipo registado
                    tr
                    tr
                        th Autores
                        if authors.length > 0
                            td 
                                each author in authors
                                    p= author
                        else
                            td.w3-large Sem autores registados
                    tr 
                br
                
            a.w3-button.w3-white(href="/" + idUser) Voltar atrás