extends layout

block content
    .w3-row
        .w3-col.s4
            p 
        .w3-col.s4.w3-center
            .w3-card.w3-light-grey
                h2 Título
                if pub.title
                    p.w3-large= pub.title
                else
                    p.w3-large Sem título registado
                h2 Jornal
                if pub.journal
                    p.w3-large= pub.journal
                else
                    p.w3-large Sem referência registada para um "journal"
                h2 Volume
                if pub.volume
                    p.w3-large= pub.volume
                else
                    p.w3-large Sem volume registado
                h2 Issn
                if pub.issn
                    p.w3-large= pub.issn
                else
                    p.w3-large Sem referência registada de um ISSN
                h2 Data
                if pub.date
                    p.w3-large= pub.date
                else
                    p.w3-large Sem data registada
                h2 Doi
                if pub.doi
                    p.w3-large= pub.doi
                else
                    p.w3-large Sem referência registada de um DOI
                h2 Número de citações
                if pub.cites
                    h4= pub.cites
                else
                    p.w3-large Sem número de citações registado
                h2 Tipo
                if pub.type
                    h4= pub.type
                else
                    p.w3-large Sem tipo registado
                h2 Autores
                if pub.authors.length > 0
                    each author in pub.authors
                        p.w3-large= author
                else
                    p.w3-large Sem autores registados
            a(href="/" + idUser) Voltar atrás