table(class="w3-table w3-bordered w3-hoverable")
    tr
        th Título
        if pub.title
            td.w3-large= pub.title
        else
            td.w3-large No registered title.
    tr
    tr
        th Journal
        if pub.journal
            td.w3-large= pub.journal
        else
            td.w3-large There is no journal reference.
    tr
    tr
        th Volume
        if pub.volume
            td.w3-large= pub.volume
        else
            td.w3-large No volume registered.
    tr
    tr
        th ISSN
        td
            if pub.issn
                a(href="/issn/" + pub.issn.split(' ')[0])= pub.issn.split(' ')[0]
            else
                .w3-large No ISSN registered.
    tr
    tr
        th Date
        if pub.date
            td.w3-large= pub.date
        else
            td.w3-large No registered date.
    tr
    tr
        th Doi
        if pub.doi
            td.w3-large
                a(href="https://link.springer.com/chapter/"+pub.doi)= pub.doi
        else
            td.w3-large There is no DOI registered.
    tr
        th Citation Number
        if pub.cites
            td.w3-large= pub.cites
        else
            td.w3-large No number of citations registered.
    tr
    tr
        th Type
        if pub.type
            td.w3-large= pub.type
        else
            td.w3-large No type registered.
    tr
    tr
        th Authors
        if pub.authors.length > 0
            td 
                each author in pub.authors
                    p= author
        else
            td.w3-large No authors registered.
    tr 
br
