extends layout

block content
    .w3-row
        .w3-col.m3
            p 
        .w3-col.m6.w3-center
            .w3-card
                br
                table.w3-table-all.w3-hoverable.w3-hover-shadow
                    tr
                        th Título
                        if pub.title
                            td.w3-large= pub.title
                        else
                            td.w3-large Sem título registado
                    tr
                    tr
                        th Jornal
                        if pub.journal
                            td.w3-large= pub.journal
                        else
                            td.w3-large Sem referência registada para um "journal"
                    tr
                    tr
                        th Volume
                        if pub.volume
                            td.w3-large= pub.volume
                        else
                            td.w3-large Sem volume registado
                    tr
                    tr
                        th ISSN
                        td
                            if pub.issn
                                a(href="/issn/" + pub.issn.split(' ')[0])= pub.issn.split(' ')[0]
                            else
                                .w3-large Sem referência registada de um ISSN
                    tr
                    tr
                        th Data
                        if pub.date
                            td.w3-large= pub.date
                        else
                            td.w3-large Sem data registada
                    tr
                    tr
                        th Doi
                        if pub.doi
                            td.w3-large= pub.doi
                        else
                            td.w3-large Sem referência registada de um DOI
                    tr
                        th Número de Citações
                        if pub.cites
                            td.w3-large= pub.cites
                        else
                            td.w3-large Sem número de citações registado
                    tr
                    tr
                        th Tipo
                        if pub.type
                            td.w3-large= pub.type
                        else
                            td.w3-large Sem tipo registado
                    tr
                    tr
                        th Autores
                        if pub.authors.length > 0
                            td 
                                each author in pub.authors
                                    p= author
                        else
                            td.w3-large Sem autores registados
                    tr 
                br
            a.w3-button.w3-white(href="/" + idUser) Voltar atrás